/* multitimes-used-colour */
.use-me{
    color: #4E47FF;
}
/* font-family From Google */

.G-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Header-bg-image */
header{
   padding-top: 55px;
    background-image: url('../Media/Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    height:785px;
}
/* Nav Items */

.nav-ready{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 200px;
}
.nav-logo{
    font-size: 40px;
    font-weight: 900;
}
.nav-button{
    border: 0px;
    border-radius: 7px;
    font-weight: bold;
    font-size:18px;
    padding: 18px 42px;
    background-color: #4E47FF;
    color: white;
}
/*div Item (Name-banner)  */
.banner{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 237px;
    text-align: center;
    color: #252432;
}

.banner-hedaer{
    font-size: 85px;
    font-weight: bold;
    font-family: raleway sans-serif;
}

